@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* shared styles */

.priTittle{
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}

.priDes{
font-size: 16px;
font-weight: 400;
text-align: center;
opacity: 0.7;
}

body{
    font-family: "Azeret Mono", serif;
}

main{
    max-width: 1120px;
    margin:50px 150px 50px;
}

/* header section */
header{
    max-width: 1420px;
    height: 650px;
    background-image: url('/assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.hero{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.heroImage, .heroTittle{
    margin-top: 25px;
    margin-bottom: 30px;
}
.heroTittle{
    font-size: 48px;
    font-weight: 800;
}
.heroDes{
    margin: 0 70px 45px;
}
.herobtn{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 245px;
    height: 65px;
    cursor: pointer;
}

/* main section */

.whyDev{
    padding: 40px 90px 0px; 
}
.whyDevDes{
    padding: 0 45px;
}
.whyDevDes h3{
    margin-bottom: 70px;
}
.whyDevDes p{
    margin-bottom: 50px;
}

.devcontainer h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
.devcontainer p{
    text-align: left;
}

.devcontainer button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 12px 20px 12px 20px;
    cursor: pointer;
}

.devcontainer1{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.devcontainerDes p{
    margin-top: 16px;
    margin-bottom: 32px;
}

/* Inspire section */

.inspireDes{
    max-width: 850px;
    margin: 50px auto;
}
#insP{
    margin-top: 25px;
    margin-bottom: 50px;
}
.inspireVideo{
    display: flex;
    padding: 30px;
    justify-content: center;
}
.inspireVideo iframe{
    width: 1075px;
    height: 550px;
}

/* current target section */

.currentTarget{
    margin: 100px 0px;
}
.currentTarget p{
    max-width: 850px;
    margin: 25px auto 50px;
}

.cards{
    display: flex;
    gap: 25px;
}
.card{
    max-width: 360px;
    padding: 40px;
    border-radius: 16px;
}
.card h4{
    margin-top: 20px;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    opacity: 0.7;
    margin: 5px auto 20px;
}
.card a{
    color: rgb(13, 19, 33);
font-weight: 700;
text-align: left;
text-decoration-line: underline;
}
.cardA{
    background: rgba(255, 76, 30, 0.05);
}
.cardB{
    background: rgba(0, 76, 232, 0.05);
}
.cardC{
    background: rgba(255, 223, 0, 0.05);
}

/* support section */

.support{
    max-width: 1120px;
    height: 315px;
    padding: 65px 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url('/assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
}
.support h3{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}
.support p{
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    opacity: 0.7;
    width: 600px;
    height: 50px;
    margin: 15px auto 25px;
}
.support #txt{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    width: 550px;
    height: 60px;
    padding: 20px;
}
.support #btn{
    width: 120px;
    height: 60px;
    padding: 17px 20px 17px 20px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

/* footer section */
.footer{
    max-width: 1420px;
    height: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgba(13, 19, 33, 0.03);
}
.footercontainer{
    max-width: 1120px;
    display: flex;
    align-items: center;
    gap: 525px;
}
.foottxt{
    font-size: 20px;
    font-weight: 600;
}